body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100 vh;
	background: #383838;
}
.card{
	position: relative;
	background: #FFF;
	width: 400px;
	height: 700px;
	margin: 0 auto;
}
.card .content{
	width: 400px;
	padding: 30px;
	box-sizing: border-box;
}
.card .content p{
	margin: 5px;
}
.card .demo-img{
	width: 400px;
	box-sizing: border-box;
}
.card .demo-img img{
	width: 100%;
}
.card .content a{
	display: inline-block;
	margin: 10px 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 2px solid #262626;
	color: #262626;
	font-weight: 600;
}
.card .sliderText{
	position: relative;
	width: 100%;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
}
.card .sliderText h3{
	color: #FFF;
	font-size: 3em;
}
.swiper-slide{
	width: 400px;
}
.swiper-slide:nth-child(1) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(2) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(3) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(4) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(5) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(6) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(7) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(8) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(9) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(10) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(11) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(12) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(13) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(14) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(15) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(16) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(17) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(18) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(19) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(20) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(21) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(22) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(23) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(24) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(25) .sliderText{
	background: #c33ada;
}
.swiper-slide:nth-child(26) .sliderText{
	background: #2196f3;
}
.swiper-slide:nth-child(27) .sliderText{
	background: #e91e63;
}
.swiper-slide:nth-child(28) .sliderText{
	background: #c3d41a;
}
.swiper-slide:nth-child(29) .sliderText{
	background: #ff9800;
}
.swiper-slide:nth-child(30) .sliderText{
	background: #c33ada;
}