body{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
ul li{
	list-style: none;
}
ul li a{
	position: relative;
	display: block;
	padding: 10px 20px;
	margin: 20px 0;
	text-decoration: none;
	text-transform: uppercase;
	color: #262626;
	font-weight: bold;
	transition: .5s;
}
ul li a:hover{
	color: #fff;
}
ul li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	transform: scaleY(2);
	opacity: 0;
	transition: .5s;
	z-index: -1;
}
ul li a:hover:before{
	transform: scaleY(1.2);
	opacity: 1;
}
ul li a:after{
	content: '';
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	transform: scale(0);
	transition: .5s;
	z-index: -1;
}
ul li a:hover:after{
	transform: scale(1);
}
