body *{
	transition: all 0.5s;
}
.container{
	width: 989px;
	margin: 50px auto;
	padding: 5px;
	padding-left: 20px;
}
.box{
	width: 24%;
	height: 250px;
	margin: 0.2%;
	padding: 15px;
	box-sizing: border-box;
	display: inline-block;
	background: deepskyblue;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.box .icon-cont{
	border: 5px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 75px;
	height: 75px;
	margin: 20px auto;
	display: block;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	z-index: 5;
	box-shadow: 0 0 0 0 rgba(255,255,255,0.5),
				0 0 0 0 rgba(3,108,129,0.5);
}
.box .icon-cont i{
	color: white;
	opacity: 0.5;
	font-size: 2.5rem;
	line-height: 75px;
}
.box:hover .icon-cont{
	animation: shady 4s linear infinite;
}
@keyframes shady{
	0%{
		box-shadow: 0 0 0 0px rgba(255,255,255,0.5),
					0 0 0 0px rgba(3,108,129,0.5);
	}
	20%{
		box-shadow: 0 0 0 100px rgba(255,255,255,0.5),
					0 0 0 0px rgba(3,108,129,0.5);
	}
}

.box h3{
	color: white;
	font-family: tahoma;
	font-weight: 300;
	font-size: 24px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px;
	border-bottom: 1px solid rgba(255,255,255,0);
	position: absolute;
	top: 95px;
	width: 70%;
	left: 10%;
	z-index: 4;
}
.box ul{
	font-family: tahoma;
	color: white;
	font-size: 13px;
	line-height: 28px;
	text-indent: 14px;
	margin: 25px;
	margin-top: 399px;
	list-style-type: disc;
	margin-left: -15px;
}
.box ul.expend{
	width: 35px;
	height: 35px;
	background: white;
	font-weight: 599;
	color: deepskyblue;
	display: block;
	margin: 15px auto 25px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	border-radius: 50px;
}
.box a.expend{
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #fff;
	line-height: 40px;
	text-align: center;
}
.box a.expend span.minus{
	opacity: 0;
}
.box a.expend span.plus{
	opacity: 1;
	padding-left: calc((40px - 50%)/2);
}
.box.selected a.expend{
	display: block;
	position: absolute;
	left: 180px;
	right: -29px;
	bottom: -15px;
	width: 80px;
	height: 50px;
	background: #eee;
	color: deepskyblue;
	transform: rotate(-45deg);
}
.box.selected a.expend span{
	display: block;
	position: absolute;
	top: -4px;
	left: 38px;
	transform: rotate(45deg);
	font-size: 24px;
}
.box.selected a.expend span.minus{
	opacity: 1;
}
.box.selected a.expend span.plus{
	opacity: 0;
}
.box.selected .icon-cont{
	transform: scale(1.5,1.5);
	opacity: 0.3;
	position: absolute;
	top: -20px;
	left: -5px;
	right: 180px;
}
.box.selected:hover .icon-cont{
	animation: none;
}
.box.selected h3{
	padding: 32px 15px 15px 15px;
	border-bottom: 1px solid rgba(255,255,255,0.3);
	width: 70%;
	top: 17px;
	left: 10%;
}
.box.selected ul.hidden{
	opacity: 1;
	margin-top: 95px;
}