*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.imgBx{
	width: 100px;
	height: 100px;
	margin: 0 auto 20px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid #333;
	box-shadow: 0 10px 15px rgba(0,0,0,.2);
}
.imagBx img{
	max-width: 100%;
}
h2{
	margin-top: 20px;
	font-family: consolas;
	text-align: center;
	font-size: 2em;
}
.odometer{
	font-size: 4em;
}