*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	background: #222;
}
.clock{
	width: auto;
}
.flip-clock-dot{
	background: #ccc;
}
.flip-clock-meridium a{
	color: #ccc;
}