body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.imgBx{
	position: relative;
	width: 500px;
	height: 500px;
	overflow: hidden;
}
.imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	transition: 0.5s;
}
.imgBx:hover img:nth-child(2){
	transform: translateX(-50%) scaleX(2);
	opacity: 0;
	filter: blur(10px);
}
.imgBx img:nth-child(1){
	transform: translateX(50%) scaleX(2);
	opacity: 0;
	filter: blur(10px);
}
.imgBx:hover img:nth-child(1){
	transform: translateX(0) scaleX(1);
	opacity: 1;
	filter: blur(0px);
}