body{
  margin: 0;
  padding: 0;
}

ul{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
  padding: 0;
  display: flex;
}

ul li{
  list-style: none;
  width: 80px;
  height: 80px;
  background: #262626;
  margin: 0 10px;
  border-radius: 50%;
  transition: .5s;
}

ul li:hover{
  background: #0070ff;
}

ul li span{
  position: absolute;
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  transition: .5s;
}

ul li.next span{
  top: 50%;
  right: 20%;
  transform: translateY(-50%) rotate(-45deg);
  border-left: none;
  border-top: none;
}

ul li.next:hover span{
  right: 16%;
}

ul li.next span::before{
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background: #fff;
  transform-origin: right;
  transform: rotate(45deg) translate(0,25px) scaleX(0);
  transition: .5s;
}

ul li.next:hover span::before{
  transform: rotate(45deg) translate(0,25px) scaleX(1);
}

ul li.prev span{
  top: 50%;
  left: 20%;
  transform: translateY(-50%) rotate(135deg);
  border-left: none;
  border-top: none;
}

ul li.prev:hover span{
  left: 16%;
}

ul li.prev span::before{
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background: #fff;
  transform-origin: right;
  transform: rotate(45deg) translate(0,25px) scaleX(0);
  transition: .5s;
}

ul li.prev:hover span::before{
  transform: rotate(45deg) translate(0,25px) scaleX(1);
}
