body, div, h1, h2, form, fieldset, input, textarea, footer, p{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}
body{
	background: #F5F5F5;
	color: gray;
	font-family: tahoma;
}
p{
	font-family: tahoma;
	font-size: 24px;
	color: #757575;
}
#wrap{
	width: 530px;
	margin: 20px auto 0;
	height: 1000px;
}
h1{
	margin-bottom: 20px;
	text-align: center;
	font-size: 35px;
	font-family: tahoma;
	color: black;
}
#form-wrap{
	overflow: hidden;
	height: 447px;
	position: relative;
	top: 0px;
	transition: all 1s ease-in-out .3s;
}
#form-wrap:before{
	content: "";
	position: absolute;
	bottom: 128px;
	left: 0px;
	background: url('../img/before.png');
	width: 530px;
	height: 317px;
}
#form-wrap:after{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	background: url('../img/after.png');
	width: 530px;
	height: 259px;
}
#form-wrap.hide:after,
#form-wrap.hide:before{
	display: none;
}
#form-wrap:hover{
	height: 777px;
	top: -200px;
}
form{
	background: url('../img/letter_bg.png');
	position: relative;
	top: 200px;
	overflow: hidden;
	height: 200px;
	width: 400px;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid white;
	border-right: 3px;
	transition: all 1s ease-in-out .3s;
}
#form-wrap:hover form{
	height: 530px;
}
lable{
	margin: 11px 20px 0 0;
	font-size: 15px;
	color: gray;
	text-transform: uppercase;
}
input[type=text], textarea{
	font: 14px normal uppercase, arial, serif;
	color: dimgray;
	background: none;
	width: 380px;
	height: 37px;
	padding: 0px 10px;
	margin: 0 0 10px 0;
	border: 1px solid #BDBDBD;
	border-radius: 5px;
}
textarea{
	height: 80px;
	padding-top: 14px;
}
textarea:focus,
input[type=text]:focus{
	background: url('../img/letter_bg.png');
}
#form-wrap input[type=submit]{
	position: relative;
	font-family: tahoma;
	font-size: 24px;
	color: gray;
	width: 300px;
	text-align: center;
	opacity: 0;
	background: none;
	cursor: pointer;
	border-radius: 3px;
	transition: opacity 0.7s ease-in-out 0s;
}
#form-wrap:hover input[type=submit]{
	z-index: 1;
	opacity: 1;
	transition: opacity 0.5s ease-in-out 1.3s;
}
