body * {
  transition: all 0.5s;
    
}
.container {
  width: 960px;
  margin: 55px auto;
  padding: 5px;
  padding-left: 20px;
   
}

.box {
  width: 24%;
  height: 275px;
  margin: 0.2%;
  padding: 15px;
  box-sizing: border-box;
  display: inline-block;
  background-image: url(../img/photo1.jpg);    
    background-position: center;
  position: relative;
  overflow: hidden;  
  cursor: pointer;
}
.box .icon-cont {
  border: 6px solid rgba(255,255,255,0.3);
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin: 20px auto;
  display: block; 
  text-align: center;
  
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  z-index: 5;
  
  box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);
}
.box .icon-cont i {
  color: #fff;
  opacity: 0.6;
  font-size: 2.5em;
  line-height: 75px;
}
.box:hover .icon-cont {
  animation: shady 4s linear infinite;
}

@keyframes shady {
  0% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  20% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  20.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  50% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  70% {box-shadow: 0 0 0 100px rgba(255,255,255,0), 0 0 0 0px rgba(3, 108, 129, 0);}
  70.1% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
  100% {box-shadow: 0 0 0 0px rgba(255,255,255,0.5), 0 0 0 0px rgba(3, 108, 129, 0.5);}
}

.box h3 {
  color: #fff;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 15px;
  border-bottom: 1px solid rgba(255,255,255,0);  
  position: absolute;
  top: 95px;
  width: 70%;
  left: 10%;
  z-index: 4;
}
.box ul {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 28px;
  text-indent: 14px;
  margin: 25px;
  margin-top: 399px;
  list-style-type: disc;
  margin-left: -15px;
}
.box ul.hidden {
  opacity: 0;
}
.box a.expand {
  width: 35px;
  height: 35px;
  background: #fff;
  font-weight: 600;
  color: #036C81;
  display: block;
  margin: 15px auto 25px;
  text-align: center;
  line-height: 35px;
  cursor: pointer;  
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
    border-radius: 50px;
  
}
.box a.expand span.minus {
  opacity: 0;
}
.box a.expand span.plus {
  opacity: 1;
  padding-left: 5px;
}
.box.selected a.expand {
  display: block;
  position: absolute;
  left: 180px;
  right: -29px;
  bottom: -39px;
  width: 80px;
  height: 50px;
  background: #eee;
  color: #036C81;
  transform: rotate(-45deg);
}
.box.selected a.expand span {
  display: block;
  position: absolute;
  top: -4px;
  left: 38px;
  transform: rotate(45deg);
  font-size: 24px;
}
.box.selected a.expand span.minus {
  opacity: 1;
}
.box.selected a.expand span.plus {
  opacity: 0;
}
.box.selected .icon-cont {
  transform: scale(1.5,1.5);
  opacity: 0.3;
  position: absolute;
  top: -20px;
  left: -5px;
  right: 180px;
}
.box.selected:hover .icon-cont {
  animation: none;
}
.box.selected h3 {
  padding: 32px 15px 15px 15px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  
  width: 70%;
  top: 16px;
  left: 10%;
}
.box.selected ul.hidden {
  opacity: 1;
  margin-top: 95px;
}
